[submodule "deps/tldk"]
	path = deps/tldk
	url = https://github.com/irakr/tldk
[submodule "deps/dpdk"]
	path = deps/dpdk
	url = https://github.com/irakr/dpdk
[submodule "deps/FFmpeg"]
	path = deps/FFmpeg
	url = git@github.com:irakr/FFmpeg.git
